<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.CustomizedReportTestNG.RetryListenerClass"/>
<listener class-name="com.CustomizedReportTestNG.TestListener"/>
</listeners>
  <test name="Automation Practice">
  	<groups>
		<run>
		<include name="smoke"/>
		<include name="regression"/>
		</run>
		</groups>
    <classes>   
      	
       <class name="com.TestCases.SignIn"/>
       <class name="com.TestCases.SummaryCartPage"/>
       <class name="com.TestCases.AddItemTocart"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
     
      

